const oauthRedirectUrl = "reposyncai://auth";
const gitHubClientId = "";
const gitHubClientSecret = "";
const gitHubAppClientId = "";
const gitHubAppClientSecret = "";
const giteaClientId = "";
const gitlabClientId = "";
const codebergClientId = "";
