pub fn get_env_vars() -> Vec<(String, String)> {
    let env_vars = vec![
        // Requires "repo" scope
        ("MAESTRO_HTTPS_USERNAME".to_string(), "bar".to_string()),
        ("MAESTRO_HTTPS_TOKEN".to_string(), "bar".to_string()),

        ("MAESTRO_GITHUB_USERNAME".to_string(), "bar".to_string()),
        ("MAESTRO_GITHUB_PASSWORD".to_string(), "bar".to_string()),

        ("MAESTRO_GITHUB_LIST_REPO_NAME".to_string(), "bar".to_string()),
        ("MAESTRO_GITEA_LIST_REPO_NAME".to_string(), "bar".to_string()),

        ("MAESTRO_GITHUB_CLONE_URL".to_string(), "bar".to_string()),
        ("MAESTRO_GITEA_CLONE_URL".to_string(), "bar".to_string()),
        ("MAESTRO_HTTPS_CLONE_URL".to_string(), "bar".to_string()),
        ("MAESTRO_SSH_CLONE_PROTOCOL_URL".to_string(), "bar".to_string()),
        ("MAESTRO_SSH_CLONE_AT_URL".to_string(), "bar".to_string()),
    ];

    env_vars
}

pub fn get_screenshot_export_paths() -> Vec<String> {
    let screenshot_export_paths = vec![
    ];

    screenshot_export_paths
}